{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunFlower</title>
    <link rel="stylesheet" href='{% static "css/app.css" %}' >
</head>

<body class="body">
    <header>
        <nav>
            <ul>
                <li>
                    <h1>Sunflower</h1>
                    <h3>|Manage| |Everything|</h3>
                </li>
                <li>
                    <a href="{% url 'home' %}">home</a>
                </li>
            </ul>
        </nav>
    </header>
        <div class="flower">
        </div>    
    {% block content %}
    {% endblock content %}
    <footer>
    </footer>
</body>
</html>